<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 这里的namespace是xml对应的接口 -->
<mapper namespace="com.felix.mapper.UserMapper">
 <!-- resultType为返回的pojo类 如果配了别名则可以用别名 -->
	<select id="findUserById" resultType="com.felix.pojo.User">
		select * from user where id = #{id}
	</select>
	<select id="findUserList" resultType="com.felix.pojo.User">
		select * from user
	</select>
	<!-- 配置一个map返回的对象 -->
	<resultMap type="user" id="userMap" >
		<!-- map对象的生成策略 -->
		<id column="id" javaType="int" jdbcType="int" property="id" typeHandler=""/>
		<result column="name" javaType="string" jdbcType="varchar"  property="name" typeHandler=""/>
		<result column="age" javaType="int" jdbcType="int"  property="age" typeHandler=""/>
	</resultMap>
</mapper>